build/
node_modules/
cache/
published/

configuration.json
compile-*.cmd
test/test-out.miz
.gitignore
mission.lua
mission-2.lua
SpawnablePlanesList*.json
.npmrc
src/defaults/veafSpawnableAircraftsEditor/settings-spawnables.lua
src/defaults/veafSpawnableAircraftsEditor/settings-templates.lua
src/defaults/veafSpawnableAircraftsEditor/templates.miz
src/defaults/veafSpawnableAircraftsEditor/spawnables.miz
__pycache__/
test/veaf-tools/mission.json
veaf-tools.log
test/veaf-tools/groups.json
test/veaf-tools/*.miz
dist/
*.log
test/veaf-tools/mission-builder/built
test/veaf-tools/mission-extractor/extracted
test/veaf-tools/demo-mission/veaf-demo-mission_*.miz
